:root {
  --nav-blue: #2196f3;
  --logo-black: #000000;
  --white-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --footer-grey: #ffffff99;
  --blue-button: #188ce8;
  --hero_footer-background: #2f303a;
  --our-team: #f5f4fa;
}

