:root {
  --nav-blue: #2196f3;
  --logo-black: #000000;
  --white-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
  --footer-grey: #ffffff99;
  --blue-button: #188ce8;
  --hero_footer-background: #2f303a;
  --our-team: #f5f4fa;
}
span {
  color: var(--blue-color);
}
.logo {
  color: var(--web-color2);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}

a {
  text-decoration: none;
}
.nav-link:hover,
.header-link:hover {
  color: var(--blue-color);
}
ul {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
.nav-link {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
.header-link {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}
.hero-h1 {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
}
.hero-button {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--blue-color);
  border-radius: 4px;
  border-style: none;
}
.hero-h5 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
}
.hero-p {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.sect2-h2 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
}
.sect-h3 {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
.bobrik {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
footer {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
}
div {
  background-color: #2f303a;
}
article figure {
  border-radius: 0px 0px 4px 4px;

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: rgb(255, 255, 255);
}
article,
figure {
  width: 270px;
  height: 368px;
}
figcaption p {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
}
figcaption + p {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  text-align: center;
}
.section3 {
  background: rgb(245, 244, 250);
}
.container {
}
